// Theme colors
$primary: #112d53;
$secondary: #bc773d;
$accent: #31bfe3;
$text: #0c1419;
$background: #f8fafc;

$dark: #1b1b1b;
$light: #f3f3f3;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --accent: #{$accent};
  --text: #{$text};
  --background: #{$background};
}